In [2]:
import MySQLdb

In [3]:
from sqlalchemy import create_engine

In [5]:
db = MySQLdb.connect(
"13.209.70.163",
"root",
"",
"city_info",
charset='utf8',
)

In [8]:
# query

SQL_QUERY = """
SELECT * FROM popular;"""

In [9]:
# excute select

curs = db.cursor()
count = curs.execute(SQL_QUERY)
print(count)

9

In [10]:
# print

rows = curs.fetchall()
for row in rows:
    print(row)

(1, 'seoul', 1234)
(1, 'seoul', 1234)
(2, 'busan', 1234)
(3, 'incheon', 1234)
(4, 'daegu', 1234)
(5, 'daejeon', 1234)
(1, 'seoul', 9904312)
(2, 'busan', 3448737)
(3, 'incheon', 2890451)

In [11]:
SQL_QUERY_2 = """
INSERT INTO popular(rank, city_name, popular)
VALUES(4, "gwanggju", 1502881)
"""

In [12]:
curs = db.cursor()
count = curs.execute(SQL_QUERY_2)
db.commit()

In [ ]:
tips.to_sql()