# SETUP
- - -

In [10]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()
import platform
import re

In [2]:
file_path = './../../../data/seoul_crime/seoul_crime_2015.csv'
data_raw = pd.read_csv(file_path, encoding='euc-kr')
data_raw.tail()

,관서명,살인(발생),살인(검거),강도(발생),강도(검거),강간(발생),강간(검거),절도(발생),절도(검거),폭력(발생),폭력(검거)
26,노원서,10,10,7,7,197,121,"2,193",801,"2,723","2,329"
27,방배서,1,2,1,1,59,56,653,186,547,491
28,은평서,1,1,7,5,96,82,"1,095",418,"1,461","1,268"
29,도봉서,3,3,9,10,102,106,"1,063",478,"1,487","1,303"
30,수서서,10,7,6,6,149,124,"1,439",666,"1,819","1,559"

In [3]:
data_raw.dtypes

관서명       object
살인(발생)     int64
살인(검거)     int64
강도(발생)     int64
강도(검거)     int64
강간(발생)     int64
강간(검거)     int64
절도(발생)    object
절도(검거)    object
폭력(발생)    object
폭력(검거)    object
dtype: object

In [5]:
# pandas replace with regex

test_sr = pd.Series(['foo', 'fuz', np.nan])
test_sr.str.replace('f.', 'ba', regex=True)
test_sr

0    foo
1    fuz
2    NaN
dtype: object

In [9]:
repl = lambda m : m.group(0)[::-1]
test_sr.str.replace(r'[a-z]+', repl)

0    oof
1    zuf
2    NaN
dtype: object

In [21]:
s = "저의 이메일 주소는 pdj1224@daum.com 입니다. 또한 radajin1224@gmail.com 역시 마찬가지 입니다."
p = "[0-9a-zA-Z]+@[0-9a-z]+\.[0-9a-z]+"
result = True if re.search(p, s) else False
print(result, re.findall(p, s))

True ['pdj1224@daum.com', 'radajin1224@gmail.com']

In [26]:
w = '1,211'
pattern = "([0-9]),([0-9])"
repl = ""

re.sub("[^\d\.]", "", w)

'1211'

In [28]:
data_raw.replace(to_replace="[^\d\.]", value="", inplace=True)

In [12]:
for region in data_raw.values:
    for info in region[-1:-4:-1]:
        re.sub(",", "  ", info)
        print(info)
data_raw.tail()

1,170
1,355
477
1,070
1,278
413
794
869
382
1,711
2,056
738
861
1,015
424
1,704
2,050
587
1,015
1,194
409
2,227
2,548
814
2,519
2,983
813
2,961
3,572
978
1,395
1,612
597
1,587
1,910
661
2,180
2,625
1,277
1,038
1,192
293
2,348
2,649
618
1,776
2,054
888
2,407
2,847
829
2,146
2,465
984
2,642
3,298
827
2,718
3,207
1,260
2,248
2,712
789
840
1,015
332
2,432
3,007
889
1,607
1,852
905
2,030
2,509
672
2,786
3,295
1,129
2,329
2,723
801
491
547
186
1,268
1,461
418
1,303
1,487
478
1,559
1,819
666

,관서명,살인(발생),살인(검거),강도(발생),강도(검거),강간(발생),강간(검거),절도(발생),절도(검거),폭력(발생),폭력(검거)
26,노원서,10,10,7,7,197,121,"2,193",801,"2,723","2,329"
27,방배서,1,2,1,1,59,56,653,186,547,491
28,은평서,1,1,7,5,96,82,"1,095",418,"1,461","1,268"
29,도봉서,3,3,9,10,102,106,"1,063",478,"1,487","1,303"
30,수서서,10,7,6,6,149,124,"1,439",666,"1,819","1,559"

In [28]:
data_raw.values[0], data_raw.values[0][8:12:1], data_raw.values[0][-1:-4:-1]

(array(['중부서', 2, 2, 3, 2, 105, 65, '1,395', '477', '1,355', '1,170'],
       dtype=object),
 array(['477', '1,355', '1,170'], dtype=object),
 array(['1,170', '1,355', '477'], dtype=object))