In [4]:
import pandas as pd

## _csv 파일 입력_

In [1]:
%%writefile sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample1.csv

In [5]:
pd.read_csv('sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [6]:
%%writefile sample2.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample2.csv

In [7]:
pd.read_csv('sample2.csv', names=['c1', 'c2', 'c3'])

   c1     c2      c3
0  c1     c2      c3
1   1   1.11     one
2   2   2.22     two
3   3   3.33   three

In [9]:
pd.read_csv('sample1.csv', index_col = 'c1')

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [10]:
%%writefile sample3.txt
c1        c2        c3        c4 
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

In [11]:
pd.read_table('sample3.txt', sep='\s+')

         c1        c2        c3       c4
0  0.179181 -1.538472  1.347553  0.43381
1  1.024209  0.087307 -1.281997  0.49265
2  0.417899 -2.002308  0.255245 -1.10515

In [12]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명: 
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing sample4.txt

In [15]:
pd.read_csv('sample4.txt', skiprows=[0,1])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [16]:
%%writefile sample5.csv
c1, c2, c3
1, 1.11, one
2,, two
누락, 3.33, three

Writing sample5.csv

In [21]:
df = pd.read_csv('sample5.csv', na_values=['누락'])
df

    c1    c2      c3
0  1.0  1.11     one
1  2.0   NaN     two
2  NaN  3.33   three

## _csv 파일 출력_

In [22]:
df.to_csv('sample6.csv')

In [23]:
!cat sample6.csv

,c1, c2, c3
0,1.0,1.11, one
1,2.0,, two
2,,3.33, three

## _데이터프레임 인덱서_

- pandas는 numpy 행렬과 같이 쉼표를 사용한 행 인덱스, 열 인덱스 형식의 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서를 제공한다.
    - loc : 라벨값 기반의 2차원 인덱싱
    - iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱
    - at : 라벨값 기반의 2차원 인덱싱(한 개의 스칼라 값만 찾는다)
    - iat : 순서를 나타내는 정수 기반의 2차원 인덱싱(한 개의 스칼라 값만 찾는다)

### loc 인덱서