# SQL Alchemy
- - -

- python에서 사용하는 ORM
- ORM(Object Relational Mapping)
    - 데이터베이스 테이블에 매핑되는 클래스 선언, 사용
    - 사용하는 DB를 변경하고 싶을 때는 접속 엔진 객체의 접속 정보만 바꿔주면 된다.
    - SQL 문법을 사용하지 않고 함수 형태로 데이터베이스에서 CRUD.
        - postgres, sql, oracle은 모두 sql을 사용하지만 문법이 조금씩 다르다.
        - 그래서 다른 종류의 데이터베이스를 사용할 때마다, 다른 쿼리를 사용해야 한다.
        - 그러나 ORM(SQL Alchemy)는 함수 형태로 사용하기 때문에 위 문제 해결.
        - 단, 데이터베이스에 매핑하는 과정이 번거롭다.

# SETUP

In [2]:
import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime
from sqlalchemy.orm import sessionmaker

In [3]:
# DB connect

In [4]:
engine = sqlalchemy.create_engine("mysql://root:@13.209.70.163/test")
engine

Engine(mysql://root:***@13.209.70.163/test)

In [5]:
# user2와 매핑되는 클래스 선언

Base = declarative_base()

class User(Base):
    __tablename__ = "user2" # 매핑할 클래스와 연결되는 테이블
    
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email = Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    # primary_key를 제외한 나머지 컬럼에 대해 생성자 만들기
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

In [6]:
# Base 객체에 engine을 설정

Base.metadata.create_all(engine)

In [7]:
# session

session_maker_obj = sessionmaker(bind=engine)
session = session_maker_obj()

In [18]:
# insert

user = User("sujin", "jingjing", "29", "2016-09-02")
user

In [19]:
session.add(user)

In [43]:
# insert(many)

users = [
    User("jihyeon", "jihyeon@naver", "29", "2016-09-02"),
    User("haen", "jingjing", "29", "2016-09-10"),
    User("sungsu", "jingjing", "29", "2016-09-15"),
    User("joseph", "jingjing", "29", "2016-09-20"),
]
users

[<User jihyeon, jihyeon@naver, 29, 2016-09-02>,
 <User haen, jingjing, 29, 2016-09-10>,
 <User sungsu, jingjing, 29, 2016-09-15>,
 <User joseph, jingjing, 29, 2016-09-20>]

In [44]:
session.add_all(users)

In [16]:
# run transaction

In [45]:
session.commit()

In [38]:
# rollback = session data clear
session.rollback()

##### select

In [47]:
# all

results = session.query(User).all()
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [48]:
# filter

results = session.query(User).filter(User.name == "sujin")
list(results)

In [49]:
results = session.query(User).filter(User.name != "sujin")
list(results)

[<User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [50]:
# filter - 부등호

results = session.query(User).filter(User.age >= 25)
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [52]:
# filter - like

results = session.query(User).filter(User.name.like("s%"))
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>]

In [53]:
# filter - in

results = session.query(User).filter(User.name.in_(["sujin", "joseph"]))
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [54]:
# filter - not(~)

results = session.query(User).filter(~User.name.in_(["sujin", "joseph"]))
list(results)

[<User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>]

In [57]:
from sqlalchemy import and_, or_

In [59]:
results = session.query(User).filter(or_(User.name == "sujin", User.age > 25))
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [60]:
results = session.query(User).filter(and_(User.name == "sujin", User.age == 29))
list(results)

In [61]:
# order_by - asc

results = session.query(User).order_by(User.age.asc())
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [63]:
# order by - dsc

results = session.query(User).order_by(User.age.desc())
list(results)

[<User sujin, jingjing, 29, 2016-09-02 00:00:00>,
 <User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [65]:
# count

session.query(User).count()

5

##### Update

In [67]:
sujin = session.query(User).filter(User.name == "sujin").one()
sujin

In [70]:
sujin.age = 30
session.add(sujin)
session.commit()

In [71]:
session.query(User).all()

[<User sujin, jingjing, 30, 2016-09-02 00:00:00>,
 <User jihyeon, jihyeon@naver, 29, 2016-09-02 00:00:00>,
 <User haen, jingjing, 29, 2016-09-10 00:00:00>,
 <User sungsu, jingjing, 29, 2016-09-15 00:00:00>,
 <User joseph, jingjing, 29, 2016-09-20 00:00:00>]

In [72]:
sujin

##### DELETE

In [73]:
user = User('test', 'test@gmail.com', '33', '2011-01-01')
session.add(user)
session.commit()

In [76]:
session.query(User).all()

[]

In [78]:
session.query(User).filter(User.name == "test").delete()

0

In [79]:
session.close()