In [1]:
import requests
import pymongo
import pandas as pd

In [68]:
client = pymongo.MongoClient("mongodb://13.209.70.163:27017")
client

MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True)

In [70]:
# 데이터 베이스 선택
db = client.dss
db

Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'dss')

In [7]:
db.collection_names()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['user', 'info']

In [8]:
collection = db.info
collection

Collection(Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'dss'), 'info')

##### find_one : 한 개의 도큐먼트를 가져온다.

- 개별 도큐먼트는 key, value 형태를 띄고 있다

In [9]:
document = collection.find_one( {"subject": "java"} )
document

{'_id': ObjectId('5b59573844a610fd564f0cff'),
 'subject': 'java',
 'level': 4.0,
 'comments': [{'name': 'po', 'msg': 'check'}]}

##### find : 전체 도큐먼트를 가져온다.

- find는 cursor 형태로 리턴한다.
- list(cursor)를 선언하는 순간, cursor 객체 안에 있는 데이터는 사라진다.

In [10]:
documents = collection.find( {"subject": "java"} )
documents

In [11]:
datas = list(documents)
datas

[{'_id': ObjectId('5b59573844a610fd564f0cff'),
  'subject': 'java',
  'level': 4.0,
  'comments': [{'name': 'po', 'msg': 'check'}]},
 {'_id': ObjectId('5b59573844a610fd564f0d03'),
  'subject': 'java',
  'level': 4.0,
  'comments': [{'name': 'alice', 'msg': 'hello'}]}]

In [23]:
list(documents)

[]

##### count : 도큐먼트의 갯수를 가져온다.

In [24]:
documents = collection.find()
documents

In [25]:
documents.count()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

8

##### sort : 도큐먼트를 특정 수순으로 정렬한다

In [26]:
documents = collection.find({ "level": {"$lte":3} }).sort( "level", pymongo.DESCENDING )
list(documents)

[{'_id': ObjectId('5b59573844a610fd564f0d00'),
  'subject': 'javascript',
  'comments': [{'name': 'jin', 'msg': 'nice'}],
  'level': 3.0},
 {'_id': ObjectId('5b59573844a610fd564f0d01'),
  'subject': 'html',
  'comments': [{'name': 'sujin', 'msg': 'I LOVE YOU'},
   {'name': 'sy', 'msg': 'yeah!'}],
  'level': 3.0},
 {'_id': ObjectId('5b59573844a610fd564f0cfe'),
  'subject': 'r',
  'level': 1.0,
  'comments': [{'name': 'jin', 'msg': 'bad'}, {'name': 'alice', 'msg': 'hi'}]},
 {'_id': ObjectId('5b59573844a610fd564f0d02'),
  'subject': 'sass',
  'level': 1.0,
  'comments': [{'name': 'alice', 'msg': 'hello'}]},
 {'_id': ObjectId('5b595a1d83c64912cdfa59ed'),
  'subject': 'less',
  'level': 1.0,
  'comments': [{'name': 'alice', 'msg': 'hello'}]}]

In [28]:
pymongo.DESCENDING, pymongo.ASCENDING

(-1, 1)

##### insert : 데이터를 저장한다

In [30]:
# 단수 데이터 저장

data = {"subject": "css",
        "level": 1,
        "comments": [{"name":"peter", "msg":"hello"}]}
result = collection.insert_one(data)
result

In [31]:
print(result.inserted_id)

5b5967d6faed3626d1776fa0

In [33]:
# 복수 데이터 저장

data = [data = {"subject": "python", "level": 2, "comments": [{"name":"Kevin", "msg":"halo"}]},
        data = {"subject": "javascript", "level": 5, "comments": [{"name":"Jio", "msg":"pretty"}]},
        data = {"subject": "mongodb", "level": 3, "comments": [{"name":"Jane", "msg":"good"}]}]
result = collection.insert_many(data)
result

SyntaxError: invalid syntax (<ipython-input-33-76371a18ae2e>, line 3)

##### 직방 데이터 크롤링 후 저장

In [71]:
zigbang = client.crawling.zigbang
zigbang

Collection(Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

##### 강사님

In [72]:
url = "https://api.zigbang.com/v3/items?detail=true&item_ids=[11845934,11759101,12146554,12247700,12170322,12181511,12185946,12195176,12016750,12129123,12236544,12075243,12207509,12206185,12257458,12133011,12252976,12226634,12268716,12150608,12103695,12195196,12240584,12236559,12217207,12264847,12257484,12068922,12075266,12182904,12262511,12080274,12225719,12252795,12197909,12107681,12117328,12247394,11998679,12154891,12112034,12255857,11620927,12116471,12236526,12182871,12254303,12036696,11766014,12225326,12206956,12088339,12241830,12169127,12206845,12209390,12250269,12199973,11852255,12156741]"
response = requests.get(url)
response

In [73]:
zigbang_dict_list = response.json().get("items")
len(zigbang_dict_list)

58

In [74]:
zigbang_dict_list[0]

{'title': '서울시 마포구 성산동',
 'header': False,
 'header_height': 0,
 'item': {'id': 11845934,
  'images': [{'index': 0,
    'count': 1,
    'url': 'https://ic.zigbang.com/ic/users/4164282/photos/uploads/d28be44d262101448d9a60a889ff74cc767caddc.280602.PNG'},
   {'index': 1,
    'count': 2,
    'url': 'https://ic.zigbang.com/ic/users/4164282/photos/uploads/cde25b63604ef88f76b4409eb11d65c370181fdb.252246.PNG'},
   {'index': 2,
    'count': 3,
    'url': 'https://ic.zigbang.com/ic/users/4164282/photos/uploads/3017cc59ef4c3ddbd4dc482dff6d025129237b18.252360.PNG'},
   {'index': 3,
    'count': 4,
    'url': 'https://ic.zigbang.com/ic/users/4164282/photos/uploads/ca2f2d6ff58f03955d36b1e9d3003cabc6c5da34.254731.PNG'},
   {'index': 4,
    'count': 5,
    'url': 'https://ic.zigbang.com/ic/users/4164282/photos/uploads/155b22a5e2c1a7209b6bcac02dc014f98f9604f5.199810.jpg'}],
  'is_realestate': True,
  'is_direct': False,
  'is_room': False,
  'is_type_room': False,
  'rent': 0,
  'deposit': 13000,
  'is_deposit_only': True,
  'floor': '고층/15층',
  '_floor': '고층/15층',
  'floor_all': '15층',
  'local1': '서울시',
  'local2': '마포구',
  'local3': '성산동',
  'title': '🎈[귀한전세][고층][신축오피스텔][초역세권]🎈',
  'room_type': '오픈형 원룸',
  'room_type_code': '01',
  'building_type': '오피스텔·도생',
  'room_gubun_code': '02',
  'status': '광고중',
  'is_status_open': True,
  'is_status_close': False,
  'view_count': 232,
  'updated_at': '16일 전',
  'updated_at2': '2018-07-10',
  'read_updated_at': '2001-01-01',
  'size_m2': 16.53,
  'size': 5,
  'size_m2_contract': 42.98,
  'size_contract': 13,
  'address1': '서울시 마포구 성산동',
  'near_subways': '마포구청역(6호선), 월드컵경기장역(6호선), 가좌역(경의선)',
  'random_location': '37.565722528591394,126.90398836489102',
  'options': '에어컨,냉장고,세탁기,인덕션,전자레인지,책상,옷장,신발장,싱크대',
  'manage_cost': '6만원',
  'manage_cost_inc': '-',
  'parking': '가능',
  'elevator': '있음',
  'movein_date': '6월 20일 이후',
  'description': '\n# 저렴한 가겨의 오피스텔 전세\n\n# 고층으로 답답함 없는 뷰\n\n# 6월말 준공예정인 신축오피스텔\n\n# 신축으로 인해 깔끔\n\n# 마포구청역 도보 3분거리에 위치\n\n# 주변 많은 공원으로 인해 여가생활즐기기에 우수\n\n# 인근의 오피스텔로 상권우수\n\n# 직장인 및 대학생에게 추천\n\n',
  'description_og': '\n# 저렴한 가겨의 오피스텔 전세\n\n# 고층으로 답답함 없는 뷰\n\n# 6월말 준공예정인 신축오피스텔\n\n# 신축으로 인해 깔끔\n\n# 마포구청역 도보 3분거리에 위치\n\n# 주변 많은 공원으로 인해 여가생활즐기기에 우수\n\n# 인근의 오피스텔로 상권우수\n\n# 직장인 및 대학생에게 추천\n\n',
  'pets_text': '확인필요',
  'loan_text': '확인필요',
  'room_direction_text': '확인필요',
  'is_owner': False,
  'images_thumbnail': '/users/4164282/photos/uploads/d28be44d262101448d9a60a889ff74cc767caddc.280602.PNG',
  'is_zzim': False,
  'secret_memo': None,
  'user_no': 4164282,
  'user_has_penalty': False,
  'user_has_no_penalty': True,
  'user_name': '대표공인중개사 서귀선',
  'user_phone': '0507-1282-2194',
  'original_user_phone': '010-5170-4378',
  'user_mobile': '0507-1282-2194',
  'user_email': '3030land@naver.com',
  'user_intro': '',
  'agent_name': '월드컵삼영공인중개사(서귀선)',
  'agent_no': 0,
  'agent_phone': '02-309-3030',
  'agent_mobile': '0507-1282-2194',
  'agent_email': '3030land@naver.com',
  'agent_local1': '서울시',
  'agent_local2': '마포구',
  'agent_address1': '서울특별시 마포구 모래내로1길 8 나동？다동 103호 (성산동)',
  'agent_lng': 126.904238840368,
  'agent_lat': 37.56481051112199,
  'building': {'building_id': 20073,
   'name': '동우자인채스토리상암',
   'address': '서울시 마포구 성산동 593-3',
   'local1': '서울시',
   'local2': '마포구',
   'local3': '성산동',
   'address2': '593-3',
   'floor': '15층',
   'rooms': '234세대',
   'elevator': '1',
   'count': 106,
   'lat': 37.56548690795898,
   'lng': 126.90431213378906,
   'established': '2018.06'},
  'contract': '서울특별시',
  'bjd_code': '1144012500',
  'bonbun_code': '593',
  'bubun_code': '3',
  'address2': '593-3',
  'address3': None,
  'is_premium': True,
  'is_premium2': True,
  'is_homepage': True,
  'profile_url': 'http://ic.zigbang.com/vp/profile/4164282/599da95e494d04abc6c9a42d670404669a3165aa.jpg',
  'agent_comment': '\n━━━━━━━━━━━━━━━━━━━━━━━\n\n월드컵삼영공인중개사사무소 ☎02-309-3030\n\n친절하고 신속.정확한 중개 약속드립니다!\n많은 물건이 있으니 편하게 전화주세요~ \n\n오늘도 역시 밝게 웃을 수 있는 하루되시길 바랍니다^^ ',
  'premium_items': []}}

In [75]:
items = [item["item"] for item in zigbang_dict_list ]
len(items)

58

In [76]:
zigbang = client.crawling.zigbang
zigbang

Collection(Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [77]:
zigbang.insert_many(items)

In [60]:
# 렌트 비용이 50만원 이하의 데이터를 추출
QUERY = {"rent":{"$lte":50}}
documents = zigbang.find(QUERY, {"_id":False, "deposit":True, "rent":True, "options":True, "size":True})
documents

In [61]:
# 결과를 판다스의 데이터 프레임으로 만들기
df = pd.DataFrame(list(documents)) 
df.tail()

    deposit                     options  rent  size
93    25000               가스레인지,신발장,싱크대     0  14.0
94     1000                   가스레인지,싱크대    50  12.0
95     3000  에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대    25   5.0
96    20000                           -     0  13.5
97    23500           에어컨,가스레인지,신발장,싱크대     0  13.0

##### delete - database

In [64]:
client.drop_database("crawling")

##### delete - collection : 데이터 베이스를 전부 다 지우고 싶을 때

In [65]:
client.crawling.drop_collection("zigbang")

{'ok': 0.0, 'errmsg': 'ns not found', 'code': 26}

In [34]:
zigbang = client.crawling.zigbang
zigbang

Collection(Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [35]:
url = "https://api.zigbang.com/v3/items?detail=true&item_ids=[12147577,12211570,12118560,12256740,12153257,12067136,12244677,12274134,12066042,12238156,12274901,12222783,12056669,12258898,12104456,12105291,11881108,12200175,12256781,12139924,12236302,12268568,12248795,12133748,12165438,12252355,12257195,12245930,12258035,12146032,12262708,12237816,12087003,12018148,12198407,12262911,12266850,12189784,12265635,12225107,12238327,12258954,12213527,12248719,12163199,12192279,12258942,12075353,12238001,12233122,12205650,12245412,12080445,12173316,12258292,12251354,12269049,12229549,12254456,11982095]"

In [36]:
response = requests.get(url)
response

##### Parsing - [{}, {}, {}, ...]

In [38]:
zigbang_dict_list = response.json().get("items")
len(zigbang_dict_list)

60

In [41]:
items = [item["item"] for item in zigbang_dict_list]
len(items)

60

In [42]:
zigbang.insert_many(items)

In [43]:
# 렌트비용이 50 이하인 데이터 추출

QUERY = { "rent": {"$lte":50} }
documents = zigbang.find(QUERY)
documents

In [44]:
datas = list(documents)
len(datas)

55

In [47]:
db.collection_names()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

['user', 'info']

### Migration
- - -

1. import package
2. mysql -> mongodb
    - `connect mysql`
    - `dataframe(world.country)`
    - `connect mongodb`
    - parsing (dataframe -> list(dict, dict, dict...))
    - insert

3. mongodb -> mysql
    - `connect mongodb`
    - `dataframe(crawling.zigbang)` - filtering
    - `connect mysql`
    - insert (한글 데이터는 인코딩 설정이 'utf-8'이어야 한다)

In [78]:
import MySQLdb, pymongo
import pandas as pd
from sqlalchemy import create_engine

##### mysql -> mongodb

In [79]:
# connect mysql
db = MySQLdb.connect(
    "13.209.70.163",
    "root",
    "",
    "world",
    charset="utf8"
)
db

In [80]:
# get world country datas

QUERY = """
    SELECT *
    FROM country
"""

country_df = pd.read_sql(QUERY, db)
country_df.tail()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [81]:
country_df.shape

(239, 15)

In [82]:
# connect mongodb

client = pymongo.MongoClient("mongodb://13.209.70.163:27017")
client

MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True)

In [83]:
collection = client.world.country
collection

Collection(Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'world'), 'country')

In [86]:
# parsing list(dict)

datas = country_df.to_dict("records")
len(datas)

239

In [88]:
result = collection.insert_many(datas)
result

In [91]:
len(result.inserted_ids)

239

##### data check

In [93]:
documents = collection.find()
df = pd.DataFrame(list(documents))
df.tail()

,Capital,Code,Code2,Continent,GNP,GNPOld,GovernmentForm,HeadOfState,IndepYear,LifeExpectancy,LocalName,Name,Population,Region,SurfaceArea,_id
234,1780.0,YEM,YE,Asia,6041.0,5729.0,Republic,Ali Abdallah Salih,1918.0,59.8,Al-Yaman,Yemen,18112000,Middle East,527968.0,5b5976a3faed3626d177713e
235,1792.0,YUG,YU,Europe,17000.0,NaN,Federal Republic,Vojislav Koštunica,1918.0,72.4,Jugoslavija,Yugoslavia,10640000,Southern Europe,102173.0,5b5976a3faed3626d177713f
236,716.0,ZAF,ZA,Africa,116729.0,129092.0,Republic,Thabo Mbeki,1910.0,51.1,South Africa,South Africa,40377000,Southern Africa,1221037.0,5b5976a3faed3626d1777140
237,3162.0,ZMB,ZM,Africa,3377.0,3922.0,Republic,Frederick Chiluba,1964.0,37.2,Zambia,Zambia,9169000,Eastern Africa,752618.0,5b5976a3faed3626d1777141
238,4068.0,ZWE,ZW,Africa,5951.0,8670.0,Republic,Robert G. Mugabe,1980.0,37.8,Zimbabwe,Zimbabwe,11669000,Eastern Africa,390757.0,5b5976a3faed3626d1777142

In [95]:
client.drop_database('world')

##### mongodb -> mysql

In [96]:
# connect mongodb

collection = client.crawling.zigbang
collection

Collection(Database(MongoClient(host=['13.209.70.163:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [98]:
# dataframe

documents = collection.find({}, {"_id":False, "deposit":True, "rent":True, "size":True, "options":True, "view_count":True})
df = pd.DataFrame(list(documents))
df.tail()

    deposit                           options  rent  size  view_count
53     1000     싱크대,에어컨,인덕션,냉장고,옷장,세탁기,책상,신발장    80   9.0          69
54     3000        에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대    25   5.0         244
55      500  에어컨,냉장고,세탁기,인덕션,전자레인지,옷장,신발장,싱크대    54   6.0          75
56    20000                                 -     0  13.5         544
57    23500                 에어컨,가스레인지,신발장,싱크대     0  13.0         125

In [101]:
sort_df = df[['deposit', 'rent', 'size', 'view_count', 'options']]
sort_df.tail()

    deposit  rent  size  view_count                           options
53     1000    80   9.0          69     싱크대,에어컨,인덕션,냉장고,옷장,세탁기,책상,신발장
54     3000    25   5.0         244        에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대
55      500    54   6.0          75  에어컨,냉장고,세탁기,인덕션,전자레인지,옷장,신발장,싱크대
56    20000     0  13.5         544                                 -
57    23500     0  13.0         125                 에어컨,가스레인지,신발장,싱크대

##### insert

In [102]:
engine = create_engine("mysql://root:@13.209.70.163/test?charset=utf8")
engine

Engine(mysql://root:***@13.209.70.163/test?charset=utf8)

In [103]:
sort_df.to_sql("zigbang", engine, if_exists="replace")

In [104]:
# connect mysql
db = MySQLdb.connect(
    "13.209.70.163",
    "root",
    "gjEl!234",
    "test",
    charset="utf8"
)
db

##### check

In [105]:
QUERY = """
    SELECT *
    FROM zigbang
"""
zigbang_df = pd.read_sql(QUERY, db)
zigbang_df.tail()

    index  deposit  rent  size  view_count                           options
53     53     1000    80   9.0          69     싱크대,에어컨,인덕션,냉장고,옷장,세탁기,책상,신발장
54     54     3000    25   5.0         244        에어컨,냉장고,세탁기,인덕션,옷장,신발장,싱크대
55     55      500    54   6.0          75  에어컨,냉장고,세탁기,인덕션,전자레인지,옷장,신발장,싱크대
56     56    20000     0  13.5         544                                 -
57     57    23500     0  13.0         125                 에어컨,가스레인지,신발장,싱크대

In [106]:
# delete table

In [107]:
DROP_QUERY = """
    DROP TABLE zigbang
"""
cursor = db.cursor()

In [108]:
cursor.execute(DROP_QUERY)
db.commit()